@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background-color: #fff;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #111B47;
    border-radius: 8px;
    border: solid 2px #fff;
  }
  @media screen and (max-width: 890px) {
        .content1 {
            padding-left: 0 !important;
        }
        .header {
            width: 100% !important;
            justify-content: center !important;
        }
        .nav_link {
            font-size: 9px !important;
            margin-right: 15px !important;
        }
        .btn {
            width: 70px !important;
            height: 25px !important;
            font-size: 10px !important;
            padding: 4px 2px !important;
            margin-right: 0 !important;
            border: 1px solid white !important;
        }
        .explore {
            width: 100% !important;
            margin-top: 100px !important;
            flex-direction: column !important;
            }
        .explore_title {
            width: 100%;
            font-size: 22px !important;
            padding-bottom: 20px !important;
            padding-left: 15px !important;
        }
        .explore_button {
            width: 80px !important;
            height: 25px !important;
            font-size: 10px !important;
            padding: 4px 6px !important;
            margin-left: 15px !important;
            box-shadow: 6px 6px 2px 1px #111B47 !important;
        }
        .explore_button:hover {background-color: rgb(44, 9, 141); box-shadow: 6px 6px 2px 1px #090e25;}
        .explore_button:focus {background-color: rgb(44, 9, 141); box-shadow: 6px 6px 2px 1px #090e25;}
        .explore_button:active {background-color: rgb(44, 9, 141); box-shadow: 6px 6px 2px 1px #090e25;}
        .fone2 {
            width: 100% !important;
            height: 50vh !important;
        }
        .content2 {
            padding-left: 0 !important; 
            height: 50vh !important;
        }
        .advantage {
            width: 100% !important;
            padding-top: 20px !important;
            padding-left: 15px !important;
        }
        .text_advandage {
            font-size: 22px !important;
            padding-bottom: 20px !important;
        }
        .advantage_blocks {
            width: 100% !important;
            height: 400px !important;
            display: flex !important;
            justify-content: space-between !important;
        }
        .sub_advantage {
            width: 230px !important;
            margin-right: 10px !important;
        }
        .img_advantage {
            width: 30px !important;
            height: 30px !important;
            margin-bottom: 10px !important;
        }
        .sub_advantage_title {
            font-size: 12px !important;
            margin-bottom: 5px !important;
        }
        .sub_advantage_desc {
            font-size: 9px !important;
            margin-right: 10px !important;
        }
        .footer {
            width: 100% !important;
            height: 150px !important;
            display: flex !important;
            justify-content: center !important;
        }
         .contacts {
            width: 33% !important;
            flex-direction: column !important;
            padding-left: 15px !important;
            padding-top: 20px !important;
         }
         .text_contacts {
            font-size: 12px !important;
         }
         .nav_contacts {
            display: flex !important;
            flex-direction: column !important;
            flex-wrap: wrap !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
         }
         .contacts_link {
            font-size: 9px !important;
            padding: 4px 0 !important;
        }
        .contacts_link:hover {color: rgb(104, 103, 103);}
        .contacts_link:focus {color: rgb(104, 103, 103);}
        .contacts_link:active {color: rgb(104, 103, 103);}
         .projects {
            width: 33% !important;
            flex-direction: column !important;
            padding-left: 15px !important;
            padding-top: 20px !important;
         }
         .text_projects {
            font-size: 12px !important;
         }
         .nav_projects {
            display: flex !important;
            flex-direction: column !important;
            flex-wrap: wrap !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
         }
         .projects_link {
            font-size: 9px !important;
            padding: 4px 0 !important;
        }
        .projects_link:hover {color: rgb(104, 103, 103);}
        .projects_link:focus {color: rgb(104, 103, 103);}
        .projects_link:active {color: rgb(104, 103, 103);}
         .extra {
            width: 33% !important;
            flex-direction: column !important;
            padding-left: 15px !important;
            padding-top: 20px !important;        
         }
         .text_extra {
            font-size: 12px !important;
         }
         .nav_extra {
            display: flex !important;
            flex-direction: column !important;
            flex-wrap: wrap !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
         }
         .extra_link {
            font-size: 9px !important;
            padding: 4px 0 !important;
        }
        .extra_link:hover {color: rgb(104, 103, 103);}
        .extra_link:focus {color: rgb(104, 103, 103);}
        .extra_link:active {color: rgb(104, 103, 103);}
  }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* */
html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
}
.fone1 {
    width: 100%;
    height: 100vh;
    background: url("../img/fone1.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.content1 {
    padding-left: 150px;
}
.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    margin-top: 30px;
}
.nav_link {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    margin-right: 40px;
    transition: .3s all;
}
.nav_link:hover {color: #ccc;}
.nav_link:focus {color: #ccc;}
.nav_link:active {color: #ccc;}

.btn {
    margin-top: 24px;
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 100px;
    padding: 6px 5px;
    margin-right: 40px;
    transition: .3s all;
}
.btn:hover {color: #000; background-color: #fff; font-weight: 500;}
.btn:focus {color: #000; background-color: #fff; font-weight: 500;}
.btn:active {color: #000; background-color: #fff; font-weight: 500;}
/* */
.explore {
    width: 700px;
    margin-top: 250px;
    flex-direction: column;
}
.explore_title {
    font-size: 45px;
    font-weight: 400;
    color: white;
    padding-bottom: 50px;
}
.explore_button {
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: rgb(62, 14, 194);
    box-shadow: 12px 12px 2px 1px #111B47;
    transition: .3s all;
}
.explore_button:hover {background-color: rgb(44, 9, 141); box-shadow: 12px 12px 2px 1px #090e25;}
.explore_button:focus {background-color: rgb(44, 9, 141); box-shadow: 12px 12px 2px 1px #090e25;}
.explore_button:active {background-color: rgb(44, 9, 141); box-shadow: 12px 12px 2px 1px #090e25;}
/* */
.fone2 {
    width: 100%;
    height: 60vh;
    background-color: rgb(2, 7, 31);
}
.content2 {
    padding-left: 150px; 
    height: 50vh;
}
.advantage {
    width: 100%;
    padding-top: 100px;
}
.text_advandage {
    font-size: 40px;
    font-weight: 400;
    color: rgb(59, 128, 192);
    padding-bottom: 50px;
}
.advantage_blocks {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.sub_advantage {
    width: 300px;
}
.img_advantage {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
.sub_advantage_title {
    font-size: 25px;
    font-weight: 400;
    color: rgb(216, 210, 210);
    margin-bottom: 10px;
}
.sub_advantage_desc {
    font-size: 15px;
    font-weight: 400;
    color: rgb(138, 143, 219);
}
/* */
.footer {
    width: 100%;
    height: 200px;
    background-color: #000;
    display: flex;
    justify-content: center;
}
 .contacts {
    width: 33%;
    flex-direction: column;
    padding-left: 150px;
    padding-top: 20px;
 }
 .text_contacts {
    font-size: 20px;
    font-weight: 400;
    color: rgb(221, 219, 219);
 }
 .nav_contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
 }
 .contacts_link {
    font-size: 15px;
    font-weight: 400;
    color: rgb(160, 160, 160);
    padding: 10px 0;
    transition: .3s all;
}
.contacts_link:hover {color: rgb(104, 103, 103);}
.contacts_link:focus {color: rgb(104, 103, 103);}
.contacts_link:active {color: rgb(104, 103, 103);}
 .projects {
    width: 33%;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 100px;
 }
 .text_projects {
    font-size: 20px;
    font-weight: 400;
    color: rgb(221, 219, 219);
    margin: 0 auto;
 }
 .nav_projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
 }
 .projects_link {
    font-size: 15px;
    font-weight: 400;
    color: rgb(160, 160, 160);
    padding: 10px 0;
    transition: .3s all;
}
.projects_link:hover {color: rgb(104, 103, 103);}
.projects_link:focus {color: rgb(104, 103, 103);}
.projects_link:active {color: rgb(104, 103, 103);}
 .extra {
    width: 33%;
    flex-direction: column;
    padding-top: 20px;

 }
 .text_extra {
    font-size: 20px;
    font-weight: 400;
    color: rgb(221, 219, 219);
 }
 .nav_extra {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
 }
 .extra_link {
    font-size: 15px;
    font-weight: 400;
    color: rgb(160, 160, 160);
    padding: 10px 0;
    transition: .3s all;
}
.extra_link:hover {color: rgb(104, 103, 103);}
.extra_link:focus {color: rgb(104, 103, 103);}
.extra_link:active {color: rgb(104, 103, 103);}